.navigation {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
  background-color: #fa4f00;

  .logo-container {
    height: auto;
    width: 250px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 50px;

    .logo {
      height: auto;
      width: 250px;
    }
  }

  .nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav-link {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}
